<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ServiceURL" value="http://marinet.myhr.co.th/NmeaDemo/api/NMEA/" />
    <add key="MQTT_HOST" value="marinet.myhr.co.th" />
    <add key="MQTT_SHIP_TOPIC" value="MD-GIS-UPDATE" />
    <add key="MQTT_WATCHDOG_TOPIC" value="MD-GIS/Watchdog" />
    <add key="MQTT_CLIENT_ID" value="API" />
    <add key="SERVER_URL" value="http://marinet.myhr.co.th/MD-GIS/" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=mono.in.th;Initial Catalog=MD-GIS;Integrated Security=False;User ID=T;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
  </system.webServer>
</configuration>